@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Noto+Sans&family=Noto+Serif:ital,wght@0,400;1,700&family=Rubik+Dirt&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
}

:root {
  /* color */
  --colorPrimary: #0d263b;
  --colorSecond: #696969;

  /* background-color */
  --backgroundPrimary: #0061df;

  /* padding */
  --padding: 0 130px;
}
